---
---


$header-bg-color: #00b0f0;
$header-bg-color-secondary: #00fb92;

$body-link-color: #00b0f0;
$blockquote-text-color: #819198;

$code-text-color: #494D4E;

@import "{{ site.theme }}";

h1 h2 h3 h4 h5 h6 {
  color: #00b0f0;
}